[gcode_macro _save_config_helper]
gcode:
    #=======================================================< SAVE CONFIG EDITOR
    # Adds or updates a key in the 'save_config_pending_items' dictionary.
    {%- macro save_config_stage(section, option, value) -%}
        {%- set configfile_obj = printer.printer.lookup_object('configfile') -%}
        {%- set _ = configfile_obj.set(section, option, value) -%}
    {%- endmacro -%}

    # Removes a key from the 'save_config_pending_items' dictionary.
    {%- macro save_config_unstage(section, option) -%}
        {%- set autosave = printer.printer.lookup_object('configfile').autosave -%}
        {%- set pending_items = autosave.status_save_pending -%}

        {%- if section in pending_items and option in pending_items[section] -%}
            {%- set _ = pending_items[section].pop(option, None) -%}  
            {% if not pending_items[section] %}
                {%- set _ = pending_items.pop(section, None) -%}
            {% endif %}
            {% if not pending_items %}
                {% set _ = autosave.__setattr__('save_config_pending', False) %}
            {% endif %}
            { action_respond_info("Unstaged from SAVE_CONFIG: [" ~ section ~ "] " ~ option) }
        {%- else -%}
            { action_respond_info("Nothing to unstage: [" ~ section ~ "] " ~ option ~ " was not pending.") }
        {%- endif -%}
    {%- endmacro -%}
